<%= render 'friends/lookup' %>
<% if @friendships.size > 0 %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>

      <% if @user.id == current_user.id %>
        <th>Actions</th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% @friendships.each do |friend| %>
      <tr>
        <td><%= friend.full_name %></td>
        <td><%= friend.email %></td>
        <% if @user.id == current_user.id %>
          <td>
            <%= link_to "View Profile", user_path(friend), class: 'button-xs' %>
            <%= link_to "Remove Friend", friendship_path(friend),
                          method: :delete,
                          data: {confirm: "Are you sure?"},
                          class: "btn btn-sm btn-danger" %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div class="row col-lg-12">
    <p class="lead">
      You don't have any friends yet, please add some!
    </p>
  </div>
<% end %>